
// img{
//     max-height:100%;
//     height:auto;
// }
// 防止圖片超出



// 圖片設定
.bg-cover{
    background-size: cover;
    background-position: center center;
}


//字型設定

.h1, .h2, .h3, .h4, .h5, .h6, p {
    margin-bottom: 0;
  }

.oswald{
    font-family: 'Oswald', sans-serif;
}


// 垂直文字設定
.p-vertical{
  writing-mode: vertical-rl;
  letter-spacing:3px;
}


//間距設定
.mb-xl{
    margin-bottom:200px;
}

.p-yl{
    padding-top: 120px;
    padding-bottom: 120px;
}
.p-xl{
    padding: 100px;
}
.pr-6{
    padding-right: 60px;
}
.pt-100{
    padding-top: 100px;
}
.pb-250{
    padding-bottom: 250px;
}
// 文字間距
.lh-base{
    line-height:30px;
}

.lh-lg{
    line-height:60px;
}

//連結樣式設定
a{
 text-decoration:none;
 transition:all 0.3s ease-out;
}
a:hover{
    text-decoration:none;
}

//寬度設定
.w-10{
    width: 10%;
}


//寬度 RWD 設定

@media (min-width: 300px) {
    .w-30{
       width: 30%;
    }

  }

@media (min-width: 576px) {
    .w-30{
        width: 30%;
     }

    
  }
  
  
@media (min-width: 768px) {
.w-30{
    width: 30%;
    }
    }

@media (min-width: 992px) {
.w-30{
    width: 30%;
    }

}

@media (min-width: 1200px) {
.w-30{
    width: 30%;
    }
}




// 文字大小RWD
@media (min-width: 300px) {
    .h2{
        font-size: 36px;
    }
    .f-h2{
        font-size: 32px;  
    }
    .f-h3{
        font-size: 17.6px;
    }
    .f-h3-sm{
        font-size: 18px;
    }
    .p-sm{
        font-size: 12px;
        line-height: 1.8;
      }
    .f-h4{
        font-size: 36px;
    }
    .f-h5{
        font-size: 16px;
        font-weight: 200;
    }
  }

@media (min-width: 576px) {

    .h2{
        font-size: 36px;
    }
    .f-h2{
        font-size: 32px;  
    }
    .f-h3{
        font-size: 17.6px;
    }
    .f-h3-sm{
        font-size: 18px;
    }
    .p-sm{
        font-size: 12px;
        line-height: 1.8;
      }
    .f-h4{
        font-size: 36px;
    }
  }
  
  
  @media (min-width: 768px) {
    .h2{
        font-size: 72px;
    }
    .f-h2{
        font-size: 80px;  
    }
    .f-h3{
      font-size: 24px;
    }
    .f-h3-sm{
        font-size: 18px;
    }
    .p-sm{
        font-size: 12px;
        line-height: 2;
      }
      .f-h4{
        font-size: 28px;
    }
  }
  
  @media (min-width: 992px) {
    .h2{
        font-size: 72px;
    }
    .f-h2{
        font-size: 126px;  
    }
    .f-h3{
        font-size: 24px;
      }
    .f-h3-sm{
        font-size: 18px;
    }
    .p-sm{
        font-size: 16px;
        line-height: 2;
      }
    .f-h4{
        font-size: 36px;
    }
  }
  
  @media (min-width: 1200px) {
    .h2{
        font-size: 72px;
    }
    .f-h2{
        font-size: 126px;  
    }
    .f-h3{
        font-size: 24px;
      }
    .f-h3-sm{
        font-size: 18px;
    }
    .p-sm{
        font-size: 16px;
        line-height: 2;
      }
    .f-h4{
        font-size:36px;
    }
  }