
.work_title{
    font-size: 200px;
    font-weight: 900;
}

.work_subtitle{
    font-size: 26px;
    font-weight: 100;
}

.work-carousel-item{
    height: 450px;
    background-size: cover;
}

// 圖片符合展示範圍
.group .example-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
 }


// 文字大小RWD
@media (min-width: 300px) {
    .work_title{
        font-size: 80px;
        font-weight: 900;
    }
    
    .work_subtitle{
        font-size: 14px;
        font-weight: 100;
    }
  }

@media (min-width: 576px) {
    .work_title{
        font-size: 100px;
        font-weight: 900;
    }
    
    .work_subtitle{
        font-size: 16px;
        font-weight: 100;
    }
   
  }
  
  
  @media (min-width: 768px) {
    .work_title{
        font-size: 100px;
        font-weight: 900;
    }
    
    .work_subtitle{
        font-size: 26px;
        font-weight: 100;
    }
  }
  
  @media (min-width: 992px) {
    .work_title{
        font-size: 300px;
        font-weight: 900;
    }
    
    .work_subtitle{
        font-size: 26px;
        font-weight: 100;
    }
  }
  
  @media (min-width: 1200px) {
    .work_title{
        font-size: 300px;
        font-weight: 900;
    }
    
    .work_subtitle{
        font-size: 26px;
        font-weight: 100;
    }
  }